/* palette color https://colorhunt.co/palette/eeebddce12128100001b1717 */

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEEBDD;
  font-family: 'Rubik', sans-serif;
}

h1{
  font-family: 'Roboto Slab', serif;
  display:inline-block;
  text-align: left;
}

.name{
  position: static;
}

.header {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  font-size: 3.5rem;
  color: #1B1717;
  padding-bottom: 30px;
  text-align: center;
}

.logo {
  width: 5rem;
  height: 4.5rem;
}

.h3{
  padding-bottom: 20px;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 430px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-floating .top {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-floating .middle {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-floating .bottom {
  margin-bottom: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}